<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ 'Website name'|trans }} | {% block description %}{{ 'Website description'|trans }}{% endblock %}" />

    <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}">

    {% block extra_meta %}{% endblock extra_meta %}

    <title>{% block title %}{{ 'Welcome'|trans }}{% endblock %} | {{ 'Website name'|trans }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
